### Data Cleaning
* Importing the Data Set(CSV)

* Observe the Data Set
    * Identify the rows/columns and their relation
    * Identify the Index Column (Primary Key Column)
    * Check if there are any duplicate columns
    * Which rows to be skipped

* Assign the Index Column (to avoid creation of new index column)
* Skip irrelevant rows (to avoid display of index row)
* Drop duplicate/irrelevant columns

In [14]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='â„–':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df.drop('Totals', inplace=True)

### Data Retrieval

* Index Column
* Column names
* Second Column
* Any Column
* First Row
* Any Row
* Single Cell data

In [29]:
# Returns the Index Column
df.index
df['Total'] # Returns the Total column -> total medals in summer olympics
df['Total.1'] # Returns the Total.1 column
df.head(1) # Returns sub data frame with the specified rows
df.loc['India'] # Returns a single row
df.index[1] # Returns the second country name
df['Gold'][4] # Returns the Gold medals won by the fifth country(Column -> Row)
df.iloc[4][1] #Returns the Gold medals won by fifth country (Row -> Column)
df.loc['India'][-2] # Returns Total medals won by India

26

In [30]:
# Returns the column names or first row
df.columns

Index(['# Summer', 'Gold', 'Silver', 'Bronze', 'Total', '# Winter', 'Gold.1',
       'Silver.1', 'Bronze.1', 'Total.1', '# Games', 'Gold.2', 'Silver.2',
       'Bronze.2', 'Combined total', 'ID'],
      dtype='object')

In [32]:
#Display the Combined Total column with indexes (Selecting column data)

df['Combined total']

Afghanistan                            2
Algeria                               15
Argentina                             70
Armenia                               12
Australasia                           12
Australia                            480
Austria                              304
Azerbaijan                            26
Bahamas                               12
Bahrain                                1
Barbados                               1
Belarus                               90
Belgium                              147
Bermuda                                1
Bohemia                                4
Botswana                               1
Brazil                               108
British West Indies                    2
Bulgaria                             220
Burundi                                1
Cameroon                               5
Canada                               449
Chile                                 13
China                                526
Colombia                              19
Costa Rica                             4
Ivory Coast                            1
Croatia                               34
Cuba                                 209
Cyprus                                 1
                                    ...
Spain                                133
Sri Lanka                              2
Sudan                                  1
Suriname                               2
Sweden                               627
Switzerland                          323
Syria                                  3
Chinese Taipei                        21
Tajikistan                             3
Tanzania                               2
Thailand                              24
Togo                                   1
Tonga                                  1
Trinidad and Tobago                   18
Tunisia                               10
Turkey                                88
Uganda                                 7
Ukraine                              122
United Arab Emirates                   1
United States                       2681
Uruguay                               10
Uzbekistan                            21
Venezuela                             12
Vietnam                                2
Virgin Islands                         1
Yugoslavia                            87
Independent Olympic Participants       3
Zambia                                 2
Zimbabwe                               8
Mixed team                            17
Name: Combined total, Length: 146, dtype: int64

In [33]:
#Display the data of United States (Selecting Row data as a Series Object)

df.loc['United States']

# Summer            26
Gold               976
Silver             757
Bronze             666
Total             2399
# Winter            22
Gold.1              96
Silver.1           102
Bronze.1            84
Total.1            282
# Games             48
Gold.2            1072
Silver.2           859
Bronze.2           750
Combined total    2681
ID                 USA
Name: United States, dtype: object

In [34]:
#Return the name of the first country in the data

df.index[0]

'Afghanistan'

In [37]:
#Return the last country in the data

df.index[-1]

'Mixed team'

In [43]:
#Return the total number of games participated by the 10th country in summer olympics

df['# Summer'][9]

8

In [41]:
#Return the total medals won by the last country

df['Combined total'][-1]

17

In [44]:
#return total number of Gold medals won by the United Staes

df.loc['United States']['Gold.2']

1072

In [45]:
#Difference between Summer Gold medals of United States and China

abs(df.loc['United States']['Gold'] - df.loc['China']['Gold'])

775

In [48]:
#Maximum Gold Medal count in Winter Olympics

df['Gold.1'].max()

118

In [49]:
#Sum of all Gold medals in the Summer Olympics or How many types of games were played in the Summer olympics

df['Gold'].sum()

4809

In [54]:
#Return a boolean Series object for the maximum number of gold medals in the summer olympics

df[df['Gold'] == df['Gold'].max()].index[0]

'United States'

In [59]:
#Return the data of the country that got the maximum number of medals in the summer olympics

df[df['Total'].max() == df['Total']]

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
United States,26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681,USA

In [60]:
#Name the country that got maximum  medals overrall


df[df['Combined total'].max() == df['Combined total']].index[0]

'United States'